<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js%22%3E"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="bookmarks">
    <form method="POST" action="/">
        <input id="url" name="url" type="text" placeholder="Url...">
        <input id="tags" name="tags" type="text" placeholder="Tags...">
        <input id="submit-button" type="submit" value="Submit Bookmark">
    </form>
    <table>
        <th>URL</th>
        <th>Comments</th>
        <th>Tags</th>
            <tr>
                <% bookmarks.forEach((bookmark, index) => { %>
                    <tr>  
                        <td id="bookmark-url-<%= index %>"><%= bookmark.url %></td>
                        <% bookmark.Comments.forEach((comment, commentIndex) => { %>
                            <td id="bookmark-<%= index %>-comment-<%= commentIndex %>"><%= comment.text %> <i>commented at <%= comment.date() %></i></td>
                        <% }) %>
                        <% bookmark.Tags.forEach((tag, tagIndex) => { %>
                        <td id="bookmark-tags-<%= index %>"><%= tag.name %></td>
                        <% }) %>
                        <td>
                            <form action="/<%= bookmark.id %>?_method=DELETE" method="post">
                                <a id="edit-bookmark-<%= index %>" href="/<%= bookmark.id %>/edit">Edit</a>
                                <input id="delete-bookmark-<%= index %>" type="submit" value="Delete">
                                <a id="bookmark-<%= index %>-add-comment" href="/<%= bookmark.id %>/comments/new">Add comment</a>
                            </form>
                        </td>
                    </tr>
                <% }) %>
            </tr>
    </table>
    </div>
</body>
</html>